/*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);*/


body {
    margin: auto;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 160%;
    width: 1000px;
    box-shadow: 0 5px 65px rgba(255, 255, 255, 0.84);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.page {
    background-color: rgba(255, 240, 240, 0.74);
}

header {
    border-right: 2px solid rgba(33, 98, 78, 0.2);
    border-bottom: 2px solid rgba(33, 98, 78, 0.2);
    margin: 0 auto 40px auto;
    background-color: rgba(156, 222, 218, 0.65);
    height: 100px;
    padding: 5px;
}

.image {
    position: absolute;
    left: 0;
    padding: 0;
    height: 260px;
    
}

img {
    height: 100%;
    opacity: 0.8;
    box-shadow: 0 5px 65px rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 30px;
}

h1,
#slogan {
    font-weight: 80;
    text-align: center;
    color: #21624e;
}

h2 {
    font-weight: 100;
    padding-left: 30px;
    color: rgba(33, 98, 78, 0.76);
}

.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25%;
    grid-column: 1/2;

}

.item-1 {
    grid-area: 1/1/1/6;
    border-right: 2px solid rgba(33, 98, 78, 0.2);
    border-bottom: 2px solid rgba(33, 98, 78, 0.2);
    background-color: rgba(252, 253, 252, 0.85);
}

.item-2 {
    grid-area: 1/2/1/6;
    border-right: 2px solid rgba(33, 98, 78, 0.2);
    border-bottom: 2px solid rgba(33, 98, 78, 0.2);
    background-color: rgba(252, 217, 206, 0.45);
}

.item-3 {
    grid-area: 1/3/1/6;
    border-right: 2px solid rgba(33, 98, 78, 0.2);
    border-bottom: 2px solid rgba(33, 98, 78, 0.2);
    background-color: rgb(252, 215, 204);

}

.cont3 {
    padding-bottom: 15px;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(149, 107, 85);
    border-bottom: 1px solid rgb(149, 107, 85);
}

a:hover,
a:active {
    text-decoration: none;
    color: rgb(95, 73, 61);
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(165, 98, 63);
}

ul {
    list-style: none;
}

.item-1 li {
    color: rgba(190, 121, 86, 0.85);
}

.item-2 li {
    color: #b57656;
}

.item-3 li {
    color: rgba(159, 98, 67, 0.87);
}

footer {
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: rgba(156, 222, 218, 0.62);
    border-right: 2px solid rgba(33, 98, 78, 0.2);
    border-bottom: 2px solid rgba(33, 98, 78, 0.2);
}

#info {
    display: flex;
    justify-content: space-around;
    color: #21624e;
}